<div class="grid">
	<div class="col-12">
		<div class="card px-6 py-6">
			<p-toast></p-toast>
			<p-toolbar styleClass="mb-4">
				<ng-template pTemplate="left">
					<div class="my-2">
						<button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"
								(click)="openProductFormDialog()"></button>
						<button pButton pRipple label="Imprimir Selecionados" icon="pi pi-print" class="p-button-info"
								(click)="handlePrintBarcodes()" [disabled]="selectedProducts.length <= 0"></button>
					</div>
				</ng-template>

				<ng-template pTemplate="right">
					<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
							(click)="dt.exportCSV()"></button>
				</ng-template>
			</p-toolbar>

			<p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll"
					 [globalFilterFields]="['name','barcode']" [rows]="10" [paginator]="false"
					 [(selection)]="selectedProducts"
					 [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
					 currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros" [rowHover]="true"
					 dataKey="id">
				<ng-template pTemplate="caption">
					<div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
						<h5 class="m-0">Gerenciar Produtos</h5>
						<span class="block mt-2 md:mt-0 p-input-icon-left">
							<i class="pi pi-search"></i>
							<input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar"
								   class="w-full sm:w-auto"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
						<th pSortableColumn="name">Nome
							<p-sortIcon field="name"></p-sortIcon>
						</th>
						<th pSortableColumn="stock">Quantidade em Estoque
							<p-sortIcon field="stock"></p-sortIcon>
						</th>
						<th pSortableColumn="restockThreshold">Ponto de Encomenda
							<p-sortIcon field="restockThreshold"></p-sortIcon>
						</th>
						<th pSortableColumn="barcode">Código de Barras
							<p-sortIcon field="barcode"></p-sortIcon>
						</th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product>
					<tr *ngIf="!isLoading">
						<td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
								<div class="field mt-2" *ngIf="isInSelectedProducts(product)">
									<p-inputNumber [(ngModel)]="product.amount" [showButtons]="true" [inputId]="'inputProductAmount' + product.id">
									</p-inputNumber>
							</div>
            </td>
						<td>
							<span class="p-column-title">Nome</span>
							{{product.name}}
						</td>
						<td>
							<span class="p-column-title">Quantidade em Estoque</span>
							{{product.stock}}un
						</td>
						<td>
							<span class="p-column-title">Ponto de Encomenda</span>
							{{product.restockThreshold}}un
						</td>
						<td>
							<span class="p-column-title">Código de Barras</span>
							{{product.barcode}}
						</td>
						<td>
							<div class="flex">
								<button pButton pRipple icon="pi pi-pencil"
										class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
								<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
										(click)="deleteProduct(product)"></button>
							</div>
						</td>
					</tr>
				</ng-template>
			</p-table>
			<div class="flex flex-column gap-2 mt-2" *ngIf="isLoading">
				<p-skeleton height="4rem"></p-skeleton>
				<p-skeleton height="4rem"></p-skeleton>
				<p-skeleton height="4rem"></p-skeleton>
				<p-skeleton height="4rem"></p-skeleton>
			</div>
		</div>

		<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
			<div class="flex align-items-center justify-content-center">
				<i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
				<span *ngIf="product">Tem certeza que deseja deletar <b>{{product.name}}</b>?</span>
			</div>
			<ng-template pTemplate="footer">
				<button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
						(click)="deleteProductDialog = false"></button>
				<button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
						(click)="confirmDelete()"></button>
			</ng-template>
		</p-dialog>
	</div>
</div>

<app-product-form-modal [dialogState]="dialogState" (productSaved)="updateProductInProductsList($event)"></app-product-form-modal>
