<div class="grid content-center">
	<div class="col-6">
		<div class="card px-6 py-6">
			<p-toast></p-toast>
			<p-toolbar styleClass="mb-4">
				<div class="p-toolbar-group-start col-12">
					<div class="flex space-between col-12">
						<p-dropdown [options]="beers" [(ngModel)]="selectedBeer"></p-dropdown>
						<input id="price" type="text" [(ngModel)]="price" placeholder="Endereço de Email" pInputText
							   class="w-full md:w-30rem mb-5" style="padding:1rem">
					</div>
				</div>
			</p-toolbar>

		</div>
	</div>
</div>

