<div class="card">
	<div>
		<p-toast></p-toast>
		<p-toolbar styleClass="mb-4">
			<div class="p-toolbar-group-start">
				<h5>Escolha seu Chope (Os valores apresentados são referentes a 500ml)</h5>
			</div>
		</p-toolbar>
			<i *ngIf="_isLoading" class="pi pi-spin pi-spinner"></i>
		<app-beer-card (onSelectBeer)="openModal($event)" [beers]="beers"></app-beer-card>
	</div>
</div>


<p-dialog (onShow)="handleFocus()" (onHide)="clearSelected()" [draggable]="false" header="Confirmar" [modal]="true" [(visible)]="visible">
	<p>Aproxime o cartão do leitor para finalizar a compra</p>
	<input pInputText id="inputCard" (keydown.enter)="pourDrink()" [(ngModel)]="this.selected.card" >
</p-dialog>
