p-table {
	width: 100%;
}

tr:nth-child(2n) {
	background-color: #f8f9fa;
}

th {
	text-align: end !important;
	padding: 0.25em 0.75em;

	&[colspan] {
		text-align: center !important;
	}

	&:nth-child(1) {
		width: 50%;
		text-align: start !important;
	}
}

.positive {
	color: lime;
}

.negative {
	color: red;
}
