<form [formGroup]="userForm" (submit)="onSubmit()" autocomplete="off">
	<p-dialog [(visible)]="visible" [style]="{width: '450px'}" header="Formulário de Client" [modal]="true"
			  class="p-fluid" (onShow)="showDialog.emit()" (onHide)="hideDialog.emit()">
		<ng-template pTemplate="content">
			<fieldset class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label htmlFor="name">Nome</label>

					<input pInputText id="name" type="text" required [disabled]="isLoading"
						   autofocus [ngClass]="{'ng-invalid ng-dirty': !isFieldValid('name')}"
						   formControlName="name"/>

					<small id="name-help" class="p-error block" *ngIf="!isFieldValid('name')">
						Nome inválido.</small>
				</div>

				<div class="field col-12">
					<label htmlFor="telephone">Telefone</label>

					<input pInputText id="telephone" type="tel" formControlName="telephone" [disabled]="isLoading"
						   [ngClass]="{'ng-invalid ng-dirty': !isFieldValid('telephone')}"/>

					<small id="telephone-help" class="p-error block" *ngIf="!isFieldValid('telephone')">
						Telefone inválido.
					</small>
				</div>

				<div class="field col-12">
					<label htmlFor="email">Email</label>

					<input pInputText id="email" type="email" formControlName="email" [disabled]="isLoading"
						   [ngClass]="{'ng-invalid ng-dirty': !isFieldValid('email')}"/>

					<small id="email-help" class="p-error block" *ngIf="!isFieldValid('email')">
						Email inválido.
					</small>
				</div>

				<div class="field col-12">
					<label htmlFor="cpf">CPF</label>

					<p-inputMask id="cpf" mask="999.999.999-99" formControlName="cpf" [disabled]="isLoading" [unmask]="true"
								 [ngClass]="{'ng-invalid ng-dirty': !isFieldValid('cpf')}"></p-inputMask>

					<small id="cpf-help" class="p-error block" *ngIf="!isFieldValid('cpf')">
						CPF inválido.
					</small>
				</div>
			</fieldset>
		</ng-template>

		<ng-template pTemplate="footer">
			<button pButton pRipple type="button" (click)="onCancel()" label="Cancelar" icon="pi pi-times"
					class="p-button-outlined p-button-danger"></button>

			<button pButton pRipple type="submit" label="Salvar" icon="pi pi-save" class="p-button-outlined p-button-success"
					[disabled]="userForm.invalid || isLoading"></button>
		</ng-template>
	</p-dialog>
</form>
