<div class="grid">
	<div class="col-12">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="card px-6 py-6">
				<p-toast></p-toast>
				<p-toolbar styleClass="mb-4">
					<div class="p-toolbar-group-start">
						<h5>Vincular Cartão ao Cliente</h5>
					</div>

					<div class="p-toolbar-group-end">
						<button pButton type="submit" label="Vincular Cartão" [disabled]="loadingLink || !form.valid"
								class="p-button-success p-button-raised">
							<em class="pi p-button-icon p-button-icon-left material-symbols-outlined on-data-content"
								aria-hidden="true" data-material="add_card"></em>
						</button>
					</div>
				</p-toolbar>

				<div class="col-12 grid">
					<div class="col field">
						<label htmlFor="idClient">
							Cliente&nbsp;
							<em *ngIf="loadingClients" class="pi pi-spin pi-spinner"></em>
						</label>
						<p-dropdown id="idClient" formControlName="idClient" [options]="clientOptions" [virtualScrollItemSize]="38"
									emptyMessage="Nenhum registro encontrado" emptyFilterMessage="Nenhum registro encontrado"
									[filter]="true" [showClear]="true" [virtualScroll]="true"></p-dropdown>
						<small id="idClient-help" class="p-error block" *ngIf="!isFieldValid('idClient')">Valor obrigatório.</small>
					</div>

					<div class="col field">
						<label htmlFor="rfid">Cartão</label>
						<input id="rfid" type="text" pInputText formControlName="rfid" [minlength]="10" [maxlength]="10"
							   placeholder="0000000000">
						<small id="rfid-help" class="p-error block" *ngIf="!isFieldValid('rfid')">Valor obrigatório.</small>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
